<launch>

    <arg name="project" default="kloam"/>
    <!-- use_sim_time is true when clock is used for rosbag -->
    
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find kloam)/launch/include/rosconsole/rosconsole_info.conf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find kloam)/config/params_wheelchair_mapping.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find kloam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find kloam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find kloam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find kloam)/launch/include/module_rviz.launch" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 /mapLIO /odomLIO 100" /> 
    <node pkg="tf" type="static_transform_publisher" name="lidar2base" args="0 0 0 0 0 0 /lidar_link /base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser2base" args="0 0 0.4 0 0 0 /laser /base_link 100" /> -->
    
</launch>
