<launch>

    <arg name="project" default="roll"/>
        <param name="use_sim_time" value="true" /> 
    <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 /map /odom 100" /> 
    <!-- Parameters -->
    <rosparam file="$(find roll)/config/params_mapping_nclt.yaml" command="load" />

    <!--- LOAM -->
    <node pkg="$(arg project)" type="$(arg project)_scanRegistration"     name="$(arg project)_scanRegistration"      output="screen"     required="true"/>
    <!-- <node pkg="$(arg project)" type="$(arg project)_lidarOdometry"      name="$(arg project)_lidarOdometry"       output="screen"     respawn ="true"/> -->
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization"      name="$(arg project)_mapOptmization"       output="screen"     required="true"/>
       
    <include file="$(find fast_lio)/launch/mapping_nclt.launch" />

    <!--- Robot State TF -->
    <include file="$(find roll)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Rviz-->
    <include file="$(find roll)/launch/include/module_rviz.launch" />

</launch>
