<launch>

    <arg name="project" default="kloam"/>
    <!-- <arg name="use_sim_time" default="true"/> -->
    <!-- Parameters -->
    <rosparam file="$(find kloam)/config/params_eulongterm_mapping.yaml" command="load" />
    <param name="use_sim_time" value="true" />
    <!--- LOAM -->
    <include file="$(find kloam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find kloam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find kloam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find kloam)/launch/include/module_rviz.launch" />

</launch>
