<launch>

    <arg name="project" default="kloam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find kloam)/config/params_fordav.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find kloam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find kloam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include file="$(find kloam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find kloam)/launch/include/module_rviz.launch" />

</launch>
